<link rel="import" href="breadcrumb-item.html">

<dom-module id="ikb-breadcrumb">
    <template>
        <style>
            :root {
                --height: 38px;
            }

            * {
                @apply(--reset);
            }

            nav {
                height: var(--height);
                padding-right: var(--whitespace-base);
                padding-left: var(--whitespace-base);
                background-color: var(--black);
                color: var(--white);
                font-family: "Helvetica Neue", Helvetica, sans-serif;
                line-height: var(--height);
            }

            ul {
                display: block;
                //padding-left: 0;
                font-size: 0;
            }
        </style>

        <nav>
            <ul>
                <content></content>
            </ul>
        </nav>
    </template>

    <script>
        Polymer({
            is: 'ikb-breadcrumb'
        });
    </script>
</dom-module>
