<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="ikb-tabs">
    <template>
        <style>
            .active button {
                color: red;
            }
        </style>

        <nav>
            <ul>
                <template is="dom-repeat" items="{{tabs}}">
                    <li>
                        <button on-tap="openTab">{{item.heading}}</button>
                    </li>
                </template>
            </ul>
        </nav>
        <content></content>
    </template>
    <script>
        Polymer({
            is: 'ikb-tabs',
            properties: {
                tabs: {
                    type: Array
                }
            },
            observers: [
                'selectedTabsChange(tabs.*)'
            ],
            ready: function () {
                this.tabs = Polymer.dom(this).children;
            },
            openTab: function (e) {
                var self = this;

                this.tabs.forEach(function (tab, index) {
                    self.set('tabs.' + index + '.selected', index === e.model.index)
                });
            },
            selectedTabsChange: function (tab) {
                console.log(index);
                return 'active';
            }
        });
    </script>
</dom-module>
